<div class="back_to_list">
  <%= link_to concerns_path do %>
    <i class="fa fa-chevron-left fa-lg fa-fw" aria-hidden="true"></i><span>一覧へ</span>
  <% end %>
</div>
<% if flash[:danger] %>
  <p><%= flash[:danger] %></p>
<% end %>
<div class="message">
  <%= link_to "以前のメッセージ", "?m=all" if @over_ten %>
  <div class="ui segment">
    <% @messages.each do |message| %>
      <% if message.body %>
        <% if message.user_id == current_user.id %>
          <% user = User.find(message.user_id) %>
            <div class="balloon">
              <div class="mycomment_area">
                <div class="list">
                  <div class="item mycomment">
                    <i class="right triangle icon"></i>
                    <p class="words"><%= message.body %></p>
                  </div>
                </div>
                <div class="header"><strong><%= user.name %></strong> <%= message.message_time %></div>
               </div>
              </div>
           <% else %>
           <% user = User.find(message.user_id) %>
           <div class="item">
             <div class="content">
               <div class="list_and_new_btn">
                 <p class="faceicon">
                   <%= image_tag(message.user.icon.url, class: "comment_icon" ) if message.user.icon.url.present? %>
                 </p>
                 <div class="list chatting">
                   <div class="item says">
                      <i class="right triangle icon"></i>
                      <p class="words"><%= message.body %></p>
                  </div>
                 </div>
               </div>
               <div class="header"><strong><%= user.name %></strong> <%= message.message_time %></div>
             </div>
            </div>
          <% end %>
        <% end %>
       <% end %>
    </div>
</div>
<div class="message">
  <%= form_with(model: [@conversation, @message], local: true) do |f| %>
    <%= f.text_area :body, class: "form-control" %>
    <%= f.text_field :user_id, value: current_user.id, type: "hidden" %>
    <div class="submit_btn">
      <%= f.submit "メッセージを送る", class: "square_btn" %>
    </div>
  <% end %>
</div>
