<%= form_with(model: @concern, local: true, url: choose_new_or_edit) do |form| %>
  <% if @concern.errors.any? %>
    <div id="error_explanation">
      <h2><%= @concern.errors.count %>件のエラーがあります。</h2>
      <ul>
        <% @concern.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="concern_form">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control" %>
    <%= form.label :content %>
    <%= form.text_area :content, class: "form-control" %>
    <%= form.label :image %>
    <%= form.file_field :image %>
    <%= form.hidden_field :image_cache %>
    <%= form.submit :class => "search_button" %>
  </div>
<% end %>
