<div class="confirm_form">
  <h4>以下の内容で投稿します。</h4>
  <%= form_with(model: @concern, url: concerns_path, local: true) do |form| %>
    <section class="card">
      <%= image_tag(@concern.image.url) if @concern.image.url.present? %>
      <%= form.hidden_field :image_cache %><br>
      <div class="card-content">
        <%= form.hidden_field :title %>
        <%= form.hidden_field :content %>
        <p class="card-title">タイトル：<%= @concern.title %></p>
        <p class="card-text">内容：<%= @concern.content %></p>
      </div>
    <%=form.submit '投稿', class: "square_btn" %>
  <% end %>

  <%= form_with(model: @concern, url: new_concern_path, local: true, method: "get") do |form| %>
    <%= form.hidden_field :title %>
    <%= form.hidden_field :content %>
    <%= form.hidden_field :image_cache if @concern.image.url %>
    <%= form.submit "戻る", name: "back", class: "btn btn-warning" %>
  <% end %>
   </section>
</div>
