<h2>お悩み一覧</h2>

<p><%= notice %></p>

<% @concerns.each do |concern| %>
  <p><%= concern.title %></p>
  <p><%= concern.content %></p>
  <div>
    <%= link_to '詳細を確認する。', concern_path(concern.id) %>
      <%# if concern.user_id == current_user.id %>
        <%= link_to "編集する。", edit_concern_path(concern.id) %>
        <%= link_to "削除する。", concern_path(concern.id), method: :delete, data: { confirm: '本当に削除しますか?'} %>
      <%# end %>
   </div>
<% end %>
